#power-container {
    width: 30px;
    height: 300px;
    border: 3px solid #333;
    background: #fff;
    margin: 20px auto;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(to top, red, yellow, green);

}

#power-bar {
    width: 100%;              /* full width */
    height: 0%;               /* starts empty */
    position: absolute;
    border: 5px solid #333;
    bottom: 0;                /* grow upward */
    transition: height 0.05s; /* animate vertically */
}

html, body {
    height: 100%;           /* Ensures the gradient covers full page height */
    margin: 0;              /* Removes default browser spacing */
    padding: 0;
}

h1{
      text-align: center;
}

p,  .myDiv  {
    margin: auto;
    text-align: center;
    padding: 10px;
}


body {
    background-image: linear-gradient(#effbf6, #8ce3bf, #3dd092);
    background-repeat: no-repeat;
    background-attachment: fixed;  /* Optional: makes gradient stay fixed while scrolling */
}
